#greenclock {
	width: 150px;
	height: 150px;
	background-color: #a7cfa6;
}

#clocktop {
	width: 30px;
	height: 150px;
	background-color: #8db88c;
}

#jug {
	width: 300px;
	height: 600px;
	background-color: gainsboro;
	border-radius: 125px 125px 0 0px;
}